.Date-area{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vw;
    width: 100%;
    flex-direction: column;
}
.date-input{
    padding: 1vw;
    width: 10vw;
    font-size: larger;
}
.date-submit{
    padding: .5vw 1vw; 
    background-color: black;
    color: white;
}